.container {
  max-width: 1400px;
  min-height: 375px;
  width: 100%;
  overflow: hidden;
  padding: 0;
  font-family: "Montserrat";
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("../../img/icon/Group 67 (1).png");
}

.collapsed .navbar-toggler-icon {
  background-image: url("../../img/icon/Group 67.png");
}

.noactive-768 {
  display: none;
}

.noactive {
  gap: 14px;
}
.noactive img {
  width: 167px;
  height: 68px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-top: 67px;
  margin-left: 83px;
}

.navbar-brand {
  text-transform: uppercase;
  color: #A0A0A0;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}
.navbar-brand span {
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mainNav {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
}
.mainNav ul:first-child {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 15px;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
}
.mainNav ul:first-child li:first-child {
  grid-area: 1/1/2/2;
}
.mainNav ul:first-child li:nth-child(2) {
  grid-area: 3/1/4/2;
}
.mainNav ul:first-child li:last-child {
  grid-area: 2/1/3/2;
}
.mainNav ul:last-child {
  gap: 18px;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  list-style: none;
}

.container-fluid {
  margin-left: -7px;
  padding-top: 40px;
  flex-direction: row-reverse;
}
.container-fluid .img__link {
  display: flex;
}

.navbar-toggler-icon {
  background-image: url("../../img/icon/Group 67.png");
}

.navbar-collapse {
  margin: 34px 0px 0px 15px;
}

.nav-item a {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.nav-item a img {
  width: 40px;
  height: 40px;
}
.nav-item a span {
  color: #9F9F9F;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active {
  position: relative;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.active::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: #000;
  top: 100%;
}

@media (min-width: 576px) {
  .navbar-collapse .mainNav ul:last-child {
    margin: 0 auto;
  }
  .navbar-collapse ul {
    justify-items: center;
  }
  .noactive li {
    margin: 0 auto;
  }
  .noactive img {
    padding-top: 10px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
    color: #A0A0A0;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }
  .navbar-brand span {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }
  .nav-item .mainNav {
    display: flex;
    flex-direction: row;
  }
  .nav-item .mainNav ul li {
    align-items: center;
  }
  .noactive-992 {
    display: none;
  }
  .noactive-992 img {
    display: none;
  }
  .noactive-768 {
    display: flex;
  }
  .nav-item a img {
    width: 30px;
    height: 30px;
  }
  .container-fluid {
    padding-top: 0px;
  }
  .mainNav ul:first-child {
    display: flex;
    flex-direction: row-reverse;
  }
  .mainNav ul:last-child {
    display: flex;
    flex-direction: row;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .navbar-collapse .mainNav ul:last-child {
    margin: 0;
  }
  .nav-item a {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .active:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #000;
    left: 2px;
    top: 100%;
  }
  .noactive {
    display: none;
  }
}
@media (min-width: 1200px) {
  .noactive-768 {
    display: flex;
  }
  .noactive-992 {
    display: none;
  }
  .noactive-992 img {
    display: none;
  }
  .noactive {
    display: none;
  }
}
@media (min-width: 1400px) {
  .noactive-768 {
    display: flex;
  }
  .noactive-992 {
    display: none;
  }
  .noactive-992 img {
    display: none;
  }
  .noactive {
    display: none;
  }
  .container-fluid {
    margin: -24px 0px 0px 28px;
    padding: 0px 0px 0px 0px;
  }
  .mainNav {
    gap: 223px;
  }
  .mainNav ul:first-child {
    gap: 32px;
  }
  .mainNav ul:first-child a {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainNav ul:last-child {
    gap: 30px;
    padding-left: 81px;
  }
  .navbar-nav {
    justify-content: start;
  }
}
.QRcode {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 5px;
}

.qrBox {
  background: url("../../img/bgPhoto/Slice 2 1.jpg") no-repeat;
  background-size: cover;
  max-height: 165px;
  width: 100%;
  height: 165px;
}

.qrTitle {
  display: flex;
  flex-direction: column;
  padding: 17px 0px 16px 20px;
}
.qrTitle h2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
.qrTitle p {
  padding-top: 3px;
  width: 289px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.qrTitle button {
  margin-top: -4px;
  color: #000;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  background: #FFF;
  width: 115px;
  height: 30px;
  flex-shrink: 0;
  border: none;
}

.qrMoreImg {
  background: url("../../img/bgPhoto/Slice 1 1.jpg") no-repeat;
  background-size: cover;
  min-height: 165px;
  width: 100%;
  height: 165px;
}

@media (min-width: 992px) {
  .QRcode {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  .qrBox {
    background: url("../../img/bgPhoto/image 12.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 300px;
  }
  .qrTitle {
    padding: 49px 0px 0px 49px;
    gap: 18px;
  }
  .qrTitle h2 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
  }
  .qrTitle p {
    width: 559px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .qrTitle button {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 200px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
  }
}
.nikeLine {
  background: url("../../img/gif/nikeLine.gif");
  background-size: cover;
  background-position: center;
  height: 14px;
}

@media (min-width: 992px) {
  .nikeLine {
    width: 100%;
    height: 49px;
  }
}
.newColectionContainer {
  position: relative;
  background: url("../../img/bgPhoto/Rectangle 1141.jpg") no-repeat;
  background-size: 100% 187.5px;
  width: 100%;
  height: 187.5px;
}

.sneakersbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 52px;
  top: 89%;
  left: 8%;
}

.sneakersCard {
  display: flex;
  flex-direction: row;
  width: 302.295px;
  height: 137.683px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #EFEFEF;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
}
.sneakersCard:last-child h3 {
  margin: 6px 0px 0px -2px;
}
.sneakersCard:last-child button {
  margin: 15px 0px 0px 18px;
}
.sneakersCard h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.sneakersCard button {
  width: 25.21px;
  height: 25.378px;
  background: url("../../img/icon/Group 59.png") no-repeat;
  background-size: 25.21px 25.378px;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
  margin: 6px 0px 0px 17px;
}
.sneakersCard:first-child .sneakersItem {
  margin: -51px 0px 0px -87px;
  background: url("../../img/sneakers/nike-air-max-270-sunset-dq7625-600_w380-removebg-preview 3.png");
  background-size: cover;
  width: 280.991px;
  transform: rotate(1.338deg);
  flex-shrink: 0;
}
.sneakersCard:last-child .sneakersItem {
  margin: -66px 0px 0px -87px;
  background: url("../../img/sneakers/Red Shoe.png");
  background-size: cover;
  width: 280.991px;
  transform: rotate(1.338deg);
  flex-shrink: 0;
}

.descriptSneakers {
  display: flex;
  flex-direction: column;
  padding: 33px 0px 0px 33px;
}
.descriptSneakers h3 {
  margin-top: -5px;
  width: 128.065px;
  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.NEW {
  color: #FF3939;
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.nikeLogo {
  position: absolute;
  display: flex;
  background: url("../../img/icon/Vector.png") no-repeat;
  background-size: cover;
  width: 99.107px;
  height: 35.167px;
  flex-shrink: 0;
  left: 37%;
  top: 41%;
}

@media (min-width: 576px) {
  .sneakersbox {
    left: 25%;
  }
  .nikeLogo {
    left: 45%;
  }
}
@media (min-width: 768px) {
  .sneakersbox {
    flex-direction: row;
    left: 6%;
  }
}
@media (min-width: 992px) {
  .sneakersbox {
    margin: 39px 0px 0px -33px;
    gap: 60px;
  }
  .newColectionContainer {
    background-size: 100% 700px;
    height: 700px;
  }
  .nikeLogo {
    width: 370px;
    height: 131.29px;
    flex-shrink: 0;
    left: 37%;
    top: 40%;
  }
  .sneakersCard {
    width: 430.782px;
    height: 274.471px;
    flex-shrink: 0;
  }
  .sneakersCard .descriptSneakers {
    margin: 28px 0px 0px 0px;
  }
  .sneakersCard h2 {
    color: #FF3939;
    font-family: Montserrat;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .sneakersCard h3 {
    margin-top: 4px;
    width: 228.786px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .sneakersCard button {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    background-size: 55px 55px;
    margin-left: 36px;
  }
  .sneakersCard:first-child .sneakersItem {
    width: 364.126px;
    height: 274.486px;
    transform: rotate(0.942deg);
    flex-shrink: 0;
    margin: -64px 0px 0px -119px;
  }
  .sneakersCard:last-child .descriptSneakers h2 {
    margin: 4px 0px 0px 15px;
  }
  .sneakersCard:last-child .descriptSneakers h3 {
    margin: 20px 0px 0px 17px;
  }
  .sneakersCard:last-child .descriptSneakers button {
    margin: 32px 0px 0px 41px;
  }
  .sneakersCard:last-child .sneakersItem {
    width: 338.126px;
    height: 274.486px;
    transform: rotate(0.942deg);
    flex-shrink: 0;
    margin: -55px 0px 0px -127px;
  }
}
@media (min-width: 1200px) {
  .sneakersbox {
    margin: 39px 0px 0px -33px;
    gap: 60px;
  }
  .newColectionContainer {
    background-size: 100% 700px;
    height: 700px;
  }
  .nikeLogo {
    width: 370px;
    height: 131.29px;
    flex-shrink: 0;
    left: 37%;
    top: 40%;
  }
  .sneakersCard {
    width: 512.782px;
    height: 274.471px;
    flex-shrink: 0;
  }
  .sneakersCard .descriptSneakers {
    margin: 28px 0px 0px 0px;
  }
  .sneakersCard h2 {
    color: #FF3939;
    font-family: Montserrat;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .sneakersCard h3 {
    margin-top: 4px;
    width: 228.786px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .sneakersCard button {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    background-size: 55px 55px;
    margin-left: 36px;
  }
  .sneakersCard:first-child .sneakersItem {
    width: 452.126px;
    height: 334.486px;
    transform: rotate(0.942deg);
    flex-shrink: 0;
    margin: -102px 0px 0px -112px;
  }
  .sneakersCard:last-child .descriptSneakers h2 {
    margin: 4px 0px 0px 15px;
  }
  .sneakersCard:last-child .descriptSneakers h3 {
    margin: 20px 0px 0px 17px;
  }
  .sneakersCard:last-child .descriptSneakers button {
    margin: 32px 0px 0px 41px;
  }
  .sneakersCard:last-child .sneakersItem {
    width: 452.126px;
    height: 334.486px;
    transform: rotate(0.942deg);
    flex-shrink: 0;
    margin: -114px 0px 0px -158px;
  }
}
@media (min-width: 1400px) {
  .sneakersCard {
    width: 612.782px;
    height: 274.471px;
    flex-shrink: 0;
  }
  .sneakersCard .descriptSneakers {
    margin: 28px 0px 0px 31px;
  }
  .sneakersCard h2 {
    color: #FF3939;
    font-family: Montserrat;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
  .sneakersCard h3 {
    margin-top: 4px;
    width: 228.786px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
  }
  .sneakersCard button {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
    background-size: 55px 55px;
    margin-left: 36px;
  }
  .sneakersCard:first-child .sneakersItem {
    width: 558.126px;
    height: 376.486px;
    transform: rotate(0.942deg);
    flex-shrink: 0;
    margin: -102px 0px 0px -144px;
  }
  .sneakersCard:last-child .descriptSneakers h2 {
    margin: 4px 0px 0px 15px;
  }
  .sneakersCard:last-child .descriptSneakers h3 {
    margin: 20px 0px 0px 17px;
  }
  .sneakersCard:last-child .descriptSneakers button {
    margin: 32px 0px 0px 41px;
  }
  .sneakersCard:last-child .sneakersItem {
    width: 501.126px;
    height: 383.486px;
    transform: rotate(0.942deg);
    flex-shrink: 0;
    margin: -85px 0px 0px -124px;
  }
}
.summer__box {
  display: flex;
  flex-direction: column;
  padding-top: 366px;
  gap: 5px;
}
.summer__box h3 {
  margin: 0 auto;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.summer__box p {
  margin: 0 auto;
  margin-left: 63px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.summer__box h2 {
  margin-left: -7px;
}

.Title {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

@media (min-width: 768px) {
  .summer__box {
    padding-top: 150px;
  }
  .summer__box p {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .summer__box {
    padding-top: 350px;
    margin-left: -11px;
  }
  .summer__box h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .summer__box p {
    margin: 0 auto;
    margin-top: 25px;
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .summer__box h2 {
    margin: 5px 0px 0px -13px;
  }
  .Title {
    color: #000;
    font-family: Montserrat;
    font-size: 80px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
  }
}
.swiper__container {
  display: flex;
  position: relative;
  width: 235.582px;
  display: flex;
  margin: 0 auto;
  margin-top: 69px;
}

.swiper {
  display: flex;
  flex-direction: column;
}

.Swiper__control {
  position: absolute;
  display: flex;
  justify-content: start;
  top: -20px;
  left: -51px;
  gap: 95%;
  align-items: center;
}
.Swiper__control .Swiper__title h3 {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.button__control {
  display: flex;
  margin-top: -10px;
  gap: 14px;
  flex-direction: row-reverse;
}

.button-next {
  background: url("../../img/icon/Group 60.png");
  background-size: 25px 25px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.button-prev {
  background: url("../../img/icon/Group 61.png");
  background-size: 25px 25px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.swiper-slide {
  display: flex;
  width: 235.582px;
  height: 336px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #EFEFEF;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
}
.swiper-slide button {
  background: url("../../img/icon/Group 59.png") no-repeat;
  position: absolute;
  background-size: 36px 36px;
  background-position: center;
  width: 36.252px;
  height: 36.495px;
  border-radius: 50%;
  border: none;
  top: 87.3%;
  left: 75%;
}
.swiper-slide:first-child .sneakersItem {
  width: 240.932px;
  height: 200.336px;
  transform: rotate(0.471deg);
  margin: 33px 0px 0px -20px;
  flex-shrink: 0;
  background: url("../../img/sneakers/Yellow Shoe.png");
  background-size: cover;
}
.swiper-slide:nth-child(2) .sneakersItem {
  width: 240.932px;
  height: 200.336px;
  transform: rotate(0.471deg);
  margin: 33px 0px 0px -20px;
  flex-shrink: 0;
  background: url("../../img/sneakers/15947562_30161559_1000-removebg-preview 1.png");
  background-size: cover;
}
.swiper-slide:last-child .sneakersItem {
  width: 240.932px;
  height: 200.336px;
  transform: rotate(0.471deg);
  margin: 33px 0px 0px -20px;
  flex-shrink: 0;
  background: url("../../img/sneakers/Shoe 1.png");
  background-size: cover;
}

.swiper__card {
  background: url("../../img/bgPhoto/NIKE.png") no-repeat;
  background-size: 25% 336px;
  background-position: center;
}

.sneakesPrice {
  display: flex;
  flex-direction: column;
  margin: 12% 0px 0px 18px;
  gap: 8px;
}

.sneakersName h2 {
  color: #000;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price {
  color: #000;
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .swiper__container {
    width: 600px;
  }
  .Swiper__control {
    left: 40%;
  }
}
@media (min-width: 992px) {
  .swiper__container {
    margin-top: 171px;
  }
  .Swiper__control {
    top: -69px;
    left: 5%;
  }
  .Swiper__control .Swiper__title h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .button__control {
    gap: 25px;
  }
  .button__control .button-next {
    background-size: 55px 55px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
  }
  .button__control .button-prev {
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
  }
  .swiper__container {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .swiper__container {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .sneakersName h2 {
    color: #000;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .price {
    color: #000;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .swiper-slide:first-child .sneakesPrice {
    margin: 81px 0px 0px 51px;
    gap: 21px;
  }
  .swiper-slide:first-child .sneakersItem {
    width: 401.932px;
    height: 299.336px;
    transform: rotate(0.471deg);
    margin: 47px 0px 0px -7px;
  }
  .swiper-slide:first-child button {
    top: 88%;
    left: 77%;
  }
  .swiper-slide:nth-child(2) button {
    top: 88%;
    left: 75%;
  }
  .swiper-slide:nth-child(2) .sneakesPrice {
    margin: 71px 0px 0px 42px;
    gap: 21px;
  }
  .swiper-slide:nth-child(2) .sneakersItem {
    width: 421.932px;
    height: 299.336px;
    transform: rotate(0.471deg);
    margin: 58px 0px 0px -18px;
  }
  .swiper-slide:last-child button {
    top: 88%;
    left: 72%;
  }
  .swiper-slide:last-child .sneakesPrice {
    margin: 77px 0px 0px 27px;
    gap: 21px;
  }
  .swiper-slide:last-child .sneakersItem {
    width: 406.932px;
    height: 338.336px;
    transform: rotate(0.471deg);
    margin: 12px 0px 0px -37px;
  }
  .swiper__card {
    background-size: 25% 200px;
    width: 392.637px;
    flex-shrink: 0;
  }
  .swiper__container {
    width: 100%;
  }
  .swiper-slide {
    width: 392.637px;
    height: 580px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #EFEFEF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
  }
  .swiper-slide button {
    width: 55px;
    height: 55px;
    background-size: 55px 55px;
  }
  .Swiper__control {
    left: 3.6%;
    gap: 889px;
  }
}
.nikeCat {
  padding-top: 68px;
}
.nikeCat .catItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 330px;
}
.nikeCat .catItem:first-child {
  background: url("../../img/icon/bgPhoto/workout.gif") no-repeat;
  background-size: cover;
  background-position: center;
}
.nikeCat .catItem:nth-child(2) {
  background: url("../../img/icon/bgPhoto/run.gif") no-repeat;
  background-size: cover;
  background-position: center;
}
.nikeCat .catItem:last-child {
  background: url("../../img/icon/bgPhoto/football.gif") no-repeat;
  background-size: cover;
  background-position: center;
}
.nikeCat .Swiper__title h3 {
  padding: 0px 0px 15px 20px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-weight: 700;
}

.catItem h2 {
  padding: 5px 0px 0px 11px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 12px;
}

@media (min-width: 992px) {
  .nikeCat {
    max-width: 93%;
    margin: 0 auto;
    padding-top: 113px;
  }
  .nikeCat .catItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 570px;
  }
  .nikeCat .catItem h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10.8px;
  }
  .nikeCat .catItem:first-child {
    justify-content: left;
    padding-left: 0px;
    background-size: 50% 100%;
    background-position: right;
  }
  .nikeCat .catItem:first-child h2 {
    padding-left: 14.5%;
    padding-top: 9px;
  }
  .nikeCat .catItem:nth-child(2) {
    justify-content: right;
    padding-right: 0px;
    background-size: 50% 100%;
    background-position: left;
  }
  .nikeCat .catItem:nth-child(2) h2 {
    padding-right: 20.2%;
  }
  .nikeCat .catItem:last-child {
    justify-content: left;
    padding-left: 0px;
    background-size: 50% 100%;
    background-position: right;
  }
  .nikeCat .catItem:last-child h2 {
    padding-left: 14.1%;
  }
  .nikeCat .Swiper__title h3 {
    padding: 4px 0px 22px 0px;
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.discountBox {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.discountBox .noactive-992 h2 {
  margin-top: 0px;
  padding-top: 0px;
}
.discountBox .noactive-992 h2 span:first-child {
  padding-left: 0px;
}
.discountBox .noactive-992 h2 span:last-child {
  padding-left: 162px;
}
.discountBox .runs {
  padding-left: 0px;
}
.discountBox .discountCard {
  display: flex;
  margin: 0px 0px 0px 0px;
}
.discountBox .discountCard:nth-child(2) .discountPrice {
  display: flex;
  flex-direction: column;
  margin: 36px 0px 0px 63px;
}
.discountBox .discountCard:nth-child(2) .discountPrice p {
  margin: -4px 0px 0px -2px;
  width: 140px;
}
.discountBox .discountCard:nth-child(2) .discountPrice button {
  margin: 19px 0px 0px 15px;
}
.discountBox .discountCard:nth-child(2) .sneakersItem {
  background: url("../../img/sneakers/Nike-Shoe.png") no-repeat;
  background-size: cover;
  width: 313.164px;
  height: 201.163px;
  transform: rotate(-0.84deg);
  flex-shrink: 0;
  margin: -78px 0px 0px -112px;
}
.discountBox .discountCard:last-child .discountPrice {
  display: flex;
  flex-direction: column;
  margin: 36px 0px 0px 63px;
}
.discountBox .discountCard:last-child .discountPrice p {
  margin: -1px 0px 0px -2px;
  width: 140px;
}
.discountBox .discountCard:last-child .discountPrice button {
  margin: 19px 0px 0px 15px;
}
.discountBox .discountCard:last-child .sneakersItem {
  background: url("../../img/sneakers/Green 1.png") no-repeat;
  background-size: cover;
  width: 291.164px;
  height: 201.163px;
  transform: rotate(-0.84deg);
  flex-shrink: 0;
  margin: -62px 0px 0px -102px;
}

.discountTitle {
  margin: 18px 0px 0px 20px;
}
.discountTitle span {
  color: #000;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
.discountTitle span:first-child {
  padding-left: 0px;
}
.discountTitle span:nth-child(4) {
  padding-left: 85px;
}
.discountTitle span:last-child {
  padding-left: 163px;
}

.discountCard {
  width: 331.295px;
  height: 137.683px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #EFEFEF;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
}

.discountPrice button {
  background: url("../../img/icon/Group 59.png") no-repeat;
  background-size: 25px 25px;
  background-position: center;
  width: 25.21px;
  height: 25.378px;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
}
.discountPrice p {
  color: #202727;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.redTitle {
  display: flex;
  gap: 7px;
}
.redTitle h2 {
  color: #FF3939;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 576px) {
  .discountTitle {
    margin: 0 auto;
    padding-top: 100px;
  }
  .discountBox .discountCard {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .discountBox {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .discountCard {
    width: 500.595px;
    height: 272.943px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #EFEFEF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
  }
  .discountCard button {
    width: 180.238px;
    height: 54.333px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #000;
  }
  .discountCard button p {
    width: 104.72px;
    height: 24.148px;
    flex-shrink: 0;
    display: flex;
    padding-left: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .discountCard:first-child {
    grid-area: 2/1/3/2;
  }
  .discountCard:last-child {
    grid-area: 2/2/3/3;
  }
}
@media (min-width: 1200px) {
  .discountBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .discountBox .discountCard:nth-child(2) .sneakersItem {
    margin: -244px 0px 0px -116px;
    width: 587px;
    height: 525px;
  }
  .discountBox .discountCard:last-child .sneakersItem {
    margin: -196px 0px 0px -78px;
    width: 506px;
    height: 437px;
  }
  .discountCard .noactive-768 {
    display: flex;
  }
  .discountCard button {
    background: none;
  }
  .redTitle {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .redTitle h2:first-child {
    color: #FF3939;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .redTitle h2:last-child {
    color: #FF3939;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .discountBox .discountCard:nth-child(2) .discountPrice p {
    width: 220px;
  }
  .discountBox .discountCard:nth-child(2) .discountPrice p:first-child {
    padding-left: 33px;
  }
  .discountBox .discountCard:last-child .discountPrice p {
    width: 220px;
  }
  .discountBox .discountCard:last-child .discountPrice p:first-child {
    padding-left: 33px;
  }
  .discountBox .discountCard:nth-child(2) .discountPrice {
    margin: -72px 0px 0px -3px;
    gap: 13px;
  }
  .discountBox .discountCard:nth-child(2) .discountPrice button {
    margin: 49px 0px 0px 0px;
  }
  .discountBox .discountCard:last-child .discountPrice {
    margin: -72px 0px 0px -43px;
    gap: 10px;
  }
  .discountBox .discountCard:last-child .discountPrice button {
    margin: 49px 0px 0px 0px;
  }
  .discountPrice {
    width: 220px;
  }
  .discountPrice p {
    color: #202727;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .discountCard {
    width: 500.595px;
    height: 272.943px;
    flex-shrink: 0;
    border-radius: 18px;
    background: #EFEFEF;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.25);
  }
  .discountCard button {
    width: 180.238px;
    height: 54.333px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #000;
  }
  .discountCard button p {
    width: 104.72px;
    height: 24.148px;
    flex-shrink: 0;
    display: flex;
    padding-left: 10px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .discountCard:first-child {
    grid-area: 2/1/3/2;
  }
  .discountCard:last-child {
    grid-area: 2/2/3/3;
  }
  .discountTitle {
    height: 50px;
    padding: 0px;
    grid-area: 1/1/2/3;
    width: 100%;
  }
  .discountTitle h2 {
    display: flex;
    justify-content: center;
    margin-left: -11px;
    gap: 13px;
  }
  .discountTitle h2 span {
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
  }
  .discountTitle span:first-child {
    padding-left: 0px;
  }
  .discountTitle span:nth-child(2) {
    padding-left: 0px;
  }
  .discountTitle span:last-child {
    padding-left: 0px;
  }
}
.Membership {
  padding: 45px 0px 0px 0px;
}

.memberTitle h2 {
  padding-left: 20px;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.MemberBox {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  background: url("../../img/bgPhoto/image 11.jpg") no-repeat;
  background-size: 100% 130px;
  width: 100%;
  height: 130px;
}
.MemberBox h2 {
  padding: 13px 0px 0px 21px;
  width: 125px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
.MemberBox p {
  width: 264px;
  margin: -3px 0px 0px 19px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.MemberBox p span {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.MemberBox button {
  margin: 11px 0px 0px 19px;
  width: 70px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  color: #000;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Ua {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 30px;
}
.Ua h2 {
  margin: 0 auto;
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}
.Ua h3 {
  margin: 0 auto;
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.Ua img {
  margin: 0 auto;
  width: 80px;
  height: 50px;
  flex-shrink: 0;
}

.noactive-768 {
  display: none;
}

@media (min-width: 992px) {
  .noactive-768 {
    display: flex;
  }
  .Membership {
    padding: 0px 0px 0px 0px;
  }
  .memberTitle h2 {
    margin-top: -26px;
    padding: 0px 0px 10px 49px;
    color: #000;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .MemberBox {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    background: url("../../img/bgPhoto/image 11.jpg") no-repeat;
    background-size: 100% 324px;
    height: 324px;
  }
  .MemberBox h2 {
    padding: 44px 0px 0px 50px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    width: 308px;
  }
  .MemberBox p {
    margin: 17px 0px 0px 50px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 446px;
  }
  .MemberBox p span {
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .MemberBox button {
    margin: 25px 0px 0px 50px;
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (min-width: 1200px) {
  .noactive-768 {
    display: flex;
  }
}
@media (min-width: 1400px) {
  .noactive-768 {
    display: flex;
  }
}
.Footer {
  background: #000;
  display: flex;
  flex-direction: row;
  padding: 31px 20px;
  justify-content: center;
  gap: 29px;
}

.footer__list h2 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__logo {
  margin: -7px 0px 0px 11px;
  background: url("../../img/bgPhoto/Vector (1).png") no-repeat;
  background-size: 167px 68px;
  width: 167px;
  height: 68px;
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .discountTitle span:nth-child(4) {
    padding: 0px;
  }
  .Footer {
    background: #000;
    display: flex;
    flex-direction: row;
    padding: 76px 20px;
    justify-content: center;
    gap: 293px;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .footer__list h2 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer__list h2:first-child {
    margin-top: 0px;
  }
  .footer__list h2:nth-child(2) {
    margin-top: -8px;
  }
  .footer__list h2:last-child {
    margin-top: -11px;
  }
  .footer__logo {
    margin: -7px 0px 0px 11px;
    background: url("../../img/bgPhoto/Vector (1).png") no-repeat;
    background-size: 500px 195px;
    width: 500px;
    height: 195px;
    flex-shrink: 0;
  }
}/*# sourceMappingURL=main.css.map */